<form action="/{{shortenURL}}/edit" method="POST">
  <div class="mt-5 text-center">
    <input type="url" name="url" /required>
    <a class="text-secondary">
      <button type="submit" class="btn btn-success" onclick="save()">Save</button>
    </a>
    <script>
      function save() { () =>
        if (true) {alert("save success!")}
        else {alert("please try agian")}
      }
    </script>
  </div>
</div>