<form action="/{{shortenURL}}?_method=put" method="POST">
  <div class="mt-5 text-center">
    <input type="url" name="url" /required>
    <a class="text-secondary">
      <button type="submit" class="btn btn-success" onclick="alert('save success!')">Save</button>
    </a>
  </div>
</div>