<form action="/" method="POST">
<div>{{url}}</div>
  <div class="mt-5 text-center">
    <input type="url" name="url" required>
    <a class="text-secondary">
      <button type="submit" class="btn btn-success" onclick="save()">Save</button>
    </a>
    <script>
      function save() {
          alert("save success!"))
      }
    </script>
  </div>
</div>