<div class="d-flex justify-content-center">
  <input type="url" class="form-control" id="exampleInputURL" placeholder="input URL here!">
  <button class="shorten" type="submit">Shorten</button>
</div>