<div class="result-description">
  <div class="container container mt-5 text-center">
    <h2>Success! Please use this Link:</h2>
    <a id="origin" class="copyText" href="{{result}}">{{result}}</a>
    <div class="mt-2">
      <button class="btn btn-success" onclick="copy()">Copy</button>
        <script>
          function copy() {
              const origin = document.getElementById("origin")
              navigator.clipboard.writeText(origin.innerText)
                .then(() => alert("copyed"))
                .catch(error => console.log(error))
          }
        </script>
    </div>
  </div>
</div>