<div class="result-description">
  <h1>Success! Please use this Link:</h1>
  <a class="copyText" href="{{result}}" target="_blank">{{result}}</a>
  <button class="result-copy-button action">Copy</button>
</div>